.list-item{
  padding: 0 15px;
  .name{
    line-height: 50px;
    color: #888;
    font-size: 16px;
    border-bottom: 1px solid #F6F6F6;
  }
  .item-info{
    display: flex;
    padding: 15px 0;
    .icon{
      height: 64px;
      padding: 0 15px 0 0 ;
    }
    .title{
      margin: '0 0 8px 0';
      font-weight: bold;
    }
    .category{
      margin:10px 0 0 ;
      color: #888;
    }
  }
}
.list-item::after{
  content: '';
  background: #F6F6F6;
  height: 8px;
  width: 100%;
  position: absolute; 
  left: 0; 
}